

<div class="container">
  <div class="">
    <p class="display-4">Mood: <%= @mood.name %></p>
  </div>

  <div class="class="form-inline"">

    <%= link_to "Edit the Mood", edit_mood_path, class: "btn btn-primary mb-2" %><br>
    <%= button_to "Delete the Mood", @mood, method: 'delete', class: "btn btn-primary mb-2" %><br>
    <%#= link_to "Go to Moods", moods_path %>
  </div>
</div>
