<div class="container">


<div class="">
  <h1>All Users</h1>
</div>

<div class="">
<% @users.each do |user| %>
  <%= link_to user.name, user_path(user) %><br>
  <ul>
      <% user.images.each do |image| %>
        <li><%= image.mood.name %></li>
      <% end %>
  </ul>
<% end %>
</div>
</div>
