<h1>All Images</h1>

<% @images.each do |image| %>
  <a href="<%= image_path(image) %>"><img src="<%= image.name %>" alt="<%= image.mood.name %>" width="200"></a>
  <ul>
  <%= image.mood.name %>
  </ul>
<% end %>
