<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title></title>
  </head>
  <body>

      <%= yield %>


      <nav class="navbar fixed-bottom bg-dark">
        <div class="container text-center">
          <span class="text-muted">Made by Osama & Alex @ // FlatIron School, 2018.MOD 2</span>
        </div>
      </nav>
      <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>
